<div class="messageContainer" [ngClass]="{'isOwnMessageContainer':isOwnMessage}" (click)="Clicker()">
    <div class="messageData" [ngClass]="{'isOwnMessageData':isOwnMessage}">
        <span class="sender" [ngClass]="{'isOwnSender':isOwnMessage}">
            {{ userName }}
        </span>
    </div>
    <div class="messageContent" [ngClass]="{'isOwnMessageContent':isOwnMessage}">
        {{ messageContent }}
        <span class="timestamp" [ngClass] = "{'isOwnTimestamp':isOwnMessage}" *ngIf="clicked==true">
            {{ timeStamp | date:'medium' }}
        </span>
    </div>
</div>
